//Reescribir Variables de Bootstrap
$rojo: #f34f51;
$verde: #0098ae;
$oscuro: #212121;
$gris: #b5b5b5;

//Asignar paleta de colores a Boostrap
$success : $verde;
$secondary : $rojo;
$dark : $oscuro;


// Tipografia

$display-font-weight: 900;
$headings-font-weight: 700;

//card
$card-border-color: transparent;

// Nav Link
$nav-link-padding-x:                0;
$nav-link-color:                    $gris;
$nav-link-hover-color:              darken($gris, 10%);


//importar bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

